.parent {
  background-color: #729be7;
  height: 300px;
  width: 300px;
  max-width: calc(100%-20px);
  max-height: calc(100vh-20px);
}

button {
  background-color: #0b42f8;
  top: 60px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.add_listn,.add_btn,.delete_btn,.top_btn,.left_btn,.right_btn,.bottom_btn{
 margin:1%
}
