button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
}
.selectedColorBorder{
  border: 2px solid rgb(0, 4, 255);
}
.box-position {
  /* box-shadow: 5px 2px #888888;  */
  background-color: red;
  width: 60px;
  height: 60px;
  position: absolute;
  /* z-index: 100; */
}